* { margin: 0; padding: 0; }

body { padding-top:65px; padding-bottom:45px; }

#menu { margin-bottom:15px;}
#menu ul li { background-color:black; color:white; display:inline-block; padding:10 20px; border: 1px solid black; }
#menu ul li:hover { background-color:white; color:black; }
#menu ul li.active { background-color:white; color:black; }


#configure_hashtag {
    margin-top:30px;
    text-align: center;
    font-size:55px;
    font-weight: bold;
}
#configure_hashtag input[type=text] {
    padding:5px; font-size:35px;border: 1px solid lightgray;
}
#configure_hashtag #desc { font-size:15px; margin-top:9px;}

#imagem_box { margin-top:20px;}
#imagem_box li { margin-bottom:20px; position:relative; }
#imagem_box li:hover .image_obs { display:block; }
#imagem_box input#check {position: absolute;top:3px;left:22px; }
.image_checked { border: 1px solid red !important }
.image_blocked {  text-align: center;
    background-color: black;
    font-size: 22px;
    position: absolute;
    top: 48px;
    left: 16px;
    color: red;
    opacity: 0.6;
    width: 163px; }
.image_obs {  display:none;
    word-break: break-all;

    max-height:70px;
    text-align: left;
    background-color: black;
    font-size: 11px;
    font-family: sans-serif;
    position: absolute;
    bottom: 21px;
    left: 16px;
    color: white;
    opacity: 0.8;
    width: 163px; }
.image_obs span { opacity: 1 !important; margin: 5px; display:block;   overflow:auto; max-height:60px; }

#rodape { background-color:#222222; position: fixed; bottom:0px; width: 100%; padding: 5px;}
#rodape .container { text-align:center; color:white; font-size:14px;}


#preView { display:none; }
#preView #html { margin-top:20px; }